/* Global Styles */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
}

/* Navbar */
.navbar ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: rgba(10, 10, 10, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.navbar li {
    display: inline-block;
    padding: 0 15px; /* Adds space between links */
}

.navbar .navlinks a {
    color: white; /* Makes the letters white */
    text-decoration: none;
    font-size: 16px;
    line-height: 45px; /* Centers the text vertically */
    transition: color 0.3s; /* Smooth transition for color change */
}

.navbar a:hover {
    color: gray; /* Changes color to gray on hover */
}

.navbar li img {
    height: 45px;
    padding: 7px 16px;
    vertical-align: middle; /* Centers the logo vertically */
}

/* Hero Section */
.hero {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 10px;
}

/* User Pic */
.user-pic {
    width: 40px; /* Adjust as needed */
    height: 40px; /* Adjust as needed */
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}
  
.user-info img {
    width: 60px; /* Ensure consistent size */
    height: 60px; /* Ensure consistent size */
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover; /* Ensure the image covers its container */
    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
}

/* Profile Menu */
.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 0;
    width: 320px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
    max-height: 400px;
}

.sub-menu {
    background: #ffffff48;
    padding: 20px;
    margin: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info h3 {
    font-weight: 500;
}

.user-info img {
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-link p {
    width: 100%;
}

.sub-menu-link i {
    margin-right: 15px;
}

.sub-menu-link span {
    font-size: 20px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span {
    transform: translateX(5px);
}

.sub-menu-link:hover p {
    font-weight: 600;
}

/*About us*/

.o_nama {
    text-align: center;
    margin: 35px 25%;
    border-bottom: 4px rgb(0, 187, 25) solid;
    animation: slide-in-bottom 1s;
}

.o_nama>h1 {
    font-size: 40px;
    font-weight: bold;
    margin: 20px;
}

.paragraph {
    background-color: rgba(238, 233, 233, 0.5);
    padding: 50px 0px;
}

.paragraph>p {
    text-align: justify;
    color: rgb(88, 88, 88);
    font-weight: normal;
    font-size: 28px;
    font-family: Brush Script Std;
    margin: 40px 21%;
    animation: fade-in 1.2s;
}

.paragraph-grid {
    margin: 30px 0;
    width: 100%;
    padding: 10px 8%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.paragraph-grid>div {
    text-align: justify;
    border: 1px solid rgba(157, 157, 157, 0.645);
    margin: 10px;
    padding: 20px;
    border-radius: 7px;
}

.paragraph-grid>div>h5 {
    text-transform: uppercase;
    border-bottom: 1px solid rgba(176, 176, 176, 0.7);
    padding-bottom: 20px;
}

@media (min-width: 868px) {
    .header__wrapper .cols__container {
      max-width: 1200px;
      margin: 0 auto;
      width: 90%;
      justify-content: space-between;
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 50px;
    }
    .header__wrapper .cols__container .left__col {
      padding: 25px 0px;
    }
  }
  
  @media (min-width: 1017px) {
    .header__wrapper .cols__container .left__col {
      margin: 0;
      margin-right: auto;
    }
  }